body {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-family: 'Space Mono', monospace;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1, 1.5);
  }
  to {
    transform: rotate(360deg);
  }
}

#blob {
  height: 34vmax;
  width: 34vmax;
  position: fixed; /* Changed from absolute to fixed */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(15vmax); /* Apply strong blur effect */
  pointer-events: none; /* Ensure the blob doesn't interfere with pointer events */
 
