body {
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: 'Space Mono', monospace;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-link {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: small;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.nav-link:hover {
    transform: scale(1.1) rotate(var(--rotate-angle));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



